.movieCard {
  box-shadow: 1px 1px 11px #d1d1d1;
  display: flex;
  width: 451px;
  height: 281px;
  margin-bottom: 30px;
  overflow: hidden;
}

.movieImg {
  width: 183px;
  height: 281px;
}

.movieInfo {
  padding: 15px;
}

.movieInfo h1 {
  margin: 0;
}

.movieInfo span {
  display: block;
  color: #827e7e;
  margin-bottom: 10px;
}

.button {
  margin-right: 5px;
}

.description {
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
