@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

body {
  background: #e5e5e5;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
}

.ant-tabs {
  font-size: 12px;
}

li {
  list-style: none;
}

.app {
  background-color: #fff;
  min-height: 100vh;
  margin: 0 auto;
  width: 1010px;
}

.wrapper {
  width: 1010px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media (max-width: 999px) {
  .app {
    width: auto;
  }

  .wrapper {
    width: auto;
  }
}
